<div id="mainHome" class="banner-home-background" >
  <nav class="navbar navbar-dark">
    <div class="navbar navbar-nav">
      <div class="links-t">
        <%= link_to "Sign in", '#',:class => "nav-item nav-link active links-t" %>
        <%= link_to "Sign up", 'users/new',:class => "nav-item nav-link " %>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <section id="header_section" class="col-lg-12">
        <div class="centre-text ">
          <h1>Welcome to Twitter </h1>
          <p class="welcome-text">Connect with your friends — and other
            fascinating people.
            Get in-the-moment updates on the things that
            interest you. And watch events unfold, in real time,
            from every angle.</p>

          <%= link_to "Sign up now!", 'users/new', class: "btn btn-large btn-primary centre" %>
        </div>

      </section>

    </div>

    <div>

    </div>

    <div id="features" class="row">
      <div class="col-lg-4">

      </div>

      <div class="col-lg-4">
        <div>

        </div>
      </div>
      <div class="col-lg-4">
        <div>

        </div>
      </div>

    </div>
  </div>





</div>